@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;700&display=swap');
@import url('./all.min.css');
body {
  font-family: 'Cairo', sans-serif !important;
  direction: rtl;
}

a {
  text-decoration: none !important;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s;
}
.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

.overlay {
  position: relative;
  display: flex;
  color: #fff;
  transition: all 0.3s linear;
  & > div {
    z-index: 10;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s linear;
  }
}
.py-50 {
  padding: 50px 0;
}
.py-100 {
  padding: 100px 0;
}
.main-title {
  text-transform: uppercase;
  margin: 0 auto 80px;
  // border: 2px solid black;
  padding: 10px 20px;
  font-size: 30px;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: 0.3s;
  &::after,
  &::before {
    content: '';
    width: 20px;
    height: 4px;
    background-color: #22559d;
    position: absolute;
    // border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }
  &::before {
    left: -30px;
  }

  &::after {
    right: -30px;
  }

  &:hover {
    color: white !important;
    // border: 2px solid white !important;
    transition-delay: 0.5s;
    &::before {
      z-index: -1;
      animation: left-move 0.5s linear forwards;
    }
    &::after {
      z-index: -1;
      animation: right-move 0.5s linear forwards;
    }
  }
}
.main-color {
  color: #0c6ea2 !important;
}
.primary-color-hover:hover {
  color: #011f31;
}
.secondary-color {
  color: #005384;
}
.bg-main {
  background-color: #0c6ea2 !important;
}

.btn-primary {
  background-color: #0c6ea2 !important;
}
.btn-primary:hover {
  background-color: #005384 !important;
}

@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 60%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 60%;
    height: 100%;
  }
}
